*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common */
body {
  font-family: 'Seven Segment';
}

/* main */
main {
  background-color:#ECECEC;
  width: 500px;
  height: 300px;
 margin: 40px auto;
 border: 2px solid #D9D9D9;
 border-radius: 10px;
}

/* header  */
header {
  height: 150px;
  display:flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 700px;
}

/* display */
.display {
  background-color: black;
  height: 120px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
}

.display-number {
  color: #09D297;
  font-size: 80px;
}
